@use "../theme/" as theme;

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.atm-app {
	height: 540px;
	width: 840px;
	padding: 20px;
	border: 10px solid theme.$white;
	margin-inline: auto;

	&__view {
		height: 100%;
	}
}
