@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
$fm: "Inter";

$fs-md: 16px;
$fs-lg: 20px;
$fs-xl: 24px;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
