@use "../../theme/" as theme;

.confirm {
	height: 100%;

	display: flex;
	flex-flow: column nowrap;
	gap: 100px;

	position: relative;

	// Header
	&__header {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}
	&__guide {
		display: grid;
		gap: 10px;
	}
	&__logOut {
		background-color: theme.$main;
		padding: 8px 10px;
		border: 2px solid theme.$white;
		border-radius: 8px;
		color: theme.$white;
		cursor: pointer;

		&:active {
			background-color: theme.$acc;
		}
	}

	// Confirm Process
	&__form {
		display: grid;
		place-items: center;
		gap: 20px;
	}
	&__input {
		background-color: theme.$main;
		// width: 70px;
		padding: 10px 15px;
		border: 2px solid theme.$white;
		border-radius: 10px;
		color: theme.$white;
	}
	&__submit {
		background-color: theme.$main;
		padding: 8px 10px;
		border: 2px solid theme.$white;
		border-radius: 8px;
		color: theme.$white;
		cursor: pointer;
	}

	// Confirm Error
	&__error {
		margin-top: 20px;

		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		gap: 15px;
		color: theme.$acc;
	}
	&__error--hidden {
		display: none;
	}

	&__footer {
		position: absolute;
		bottom: 0;
	}
	&__back {
		background-color: theme.$main;
		padding: 8px 10px;
		border: 2px solid theme.$white;
		border-radius: 8px;
		color: theme.$white;
		cursor: pointer;

		&:active {
			background-color: theme.$acc;
		}
	}
}
