@use "../../theme/" as theme;

.deposit {
	height: 100%;

	display: flex;
	flex-flow: column nowrap;
	gap: 100px;

	position: relative;

	// Header
	&__header {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}
	&__guide {
		display: grid;
		gap: 10px;
	}
	&__logOut {
		background-color: theme.$main;
		padding: 8px 10px;
		border: 2px solid theme.$white;
		border-radius: 8px;
		color: theme.$white;
		cursor: pointer;

		&:active {
			background-color: theme.$acc;
		}
	}

	// Deposit Amount
	&__content {
		display: grid;
		gap: 40px;
	}

	// Form
	&-form {
		display: grid;
		margin: 0 auto;
		gap: 20px;

		&__field {
			background-color: theme.$main;
			padding: 5px 10px;
			border: 2px solid theme.$white;
			border-radius: 8px;

			display: flex;
			flex-flow: row nowrap;
			align-items: center;
		}
		&__prefix {
			color: theme.$acc;
			font-size: theme.$fs-xl;
			font-weight: theme.$fw-bold;
		}
		&__input {
			background-color: theme.$main;
			width: 100%;
			padding: 10px 5px;
			border: none;

			font-weight: theme.$fw-bold;
			color: theme.$white;
		}
		&__submit {
			background-color: theme.$main;
			padding: 8px 10px;
			border: 2px solid theme.$white;
			border-radius: 8px;
			color: theme.$white;
			cursor: pointer;

			&:active {
				background-color: theme.$acc;
			}
		}
	}

	// Result
	&-result__fail,
	&-result__success {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		gap: 10px;

		&--hidden {
			display: none;
		}
	}

	// Footer
	&__footer {
		position: absolute;
		bottom: 0;
	}
	&__back {
		background-color: theme.$main;
		padding: 8px 10px;
		border: 2px solid theme.$white;
		border-radius: 8px;
		color: theme.$white;
		cursor: pointer;
		&:active {
			background-color: theme.$acc;
		}
	}
}
