@use "../../theme/" as theme;

.withdraw {
	height: 100%;

	display: flex;
	flex-flow: column nowrap;
	gap: 50px;

	position: relative;

	// Header
	&__header {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}
	&__guide {
		display: grid;
		gap: 10px;
	}
	&__logOut {
		background-color: theme.$main;
		padding: 8px 10px;
		border: 2px solid theme.$white;
		border-radius: 8px;
		color: theme.$white;
		cursor: pointer;

		&:active {
			background-color: theme.$acc;
		}
	}

	// Withdraw ;
	&__content {
		display: grid;
		gap: 40px;
	}

	// Withdraw Options
	&__options {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 100px;
	}

	// Form
	&__form {
		// padding: 0 30px;
		margin: 0 auto;
		display: grid;
		gap: 20px;

		&-field {
			background-color: theme.$main;
			padding: 5px 10px;
			border: 2px solid theme.$white;
			border-radius: 8px;

			display: flex;
			flex-flow: row nowrap;
			align-items: center;
		}
		&-prefix {
			color: theme.$acc;
			font-size: theme.$fs-xl;
			font-weight: theme.$fw-bold;
		}
		&-input {
			background-color: theme.$main;
			width: 100%;
			padding: 10px 5px;
			border: none;

			font-weight: theme.$fw-bold;
			color: theme.$white;
		}
		&-submit {
			background-color: theme.$main;
			padding: 8px 10px;
			border: 2px solid theme.$white;
			border-radius: 8px;
			color: theme.$white;
			cursor: pointer;

			&:active {
				background-color: theme.$acc;
			}
		}
	}

	// Cards
	&__deck {
		margin: 0 auto;
		display: grid;
		gap: 20px;

		&-list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}

		&-item {
			width: 100px;
			background-color: theme.$main;
			border: 2px solid theme.$white;
			border-radius: 8px;
			padding: 10px;
			cursor: pointer;

			font-size: theme.$fs-md;
			font-weight: theme.$fw-bold;
			text-align: center;

			&:active {
				background-color: theme.$acc;
			}
		}
	}

	// Result
	&-result__error,
	&-result__success {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		gap: 10px;

		&--hidden {
			display: none;
		}
	}

	// Footer
	&__footer {
		position: absolute;
		bottom: 0;
	}
	&__back {
		background-color: theme.$main;
		padding: 8px 10px;
		border: 2px solid theme.$white;
		border-radius: 8px;
		color: theme.$white;
		cursor: pointer;
		&:active {
			background-color: theme.$acc;
		}
	}
}
